<% layout('layout') %>

<div class="d-flex h-100 border rounded">
  <div
    class="sidebar bg-light bottom-0 top-0 overflow-y-auto overflow-x-hidden rounded-start p-3 d-flex flex-column"
    style="min-width: 240px"
  >
    <div class="mt-auto">
      <form
        action="/dashboard/folders/<%= folder.id %>/upload"
        method="post"
        enctype="multipart/form-data"
        style="max-width: 240px"
      >
        <div class="mb-3">
          <input
            class="form-control"
            type="file"
            id="file"
            name="file"
            required
          />
          <div class="form-text">
            <small
              ><i class="bi bi-info-circle me-1"></i>File names already in this
              folder won't be created.</small
            >
          </div>
        </div>
        <button class="btn btn-primary w-100" type="submit">Upload File</button>
      </form>

      <button
        type="button"
        class="btn btn-primary mt-3 w-100"
        data-bs-toggle="modal"
        data-bs-target="#createFolder"
      >
        Create folder
      </button>
    </div>
  </div>

  <div class="flex-grow-1 p-3">
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '》'">
      <ol class="breadcrumb">
        <% breadcrumbs.forEach((crumb, index) => { %> <% if (index ===
        breadcrumbs.length - 1) { %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= crumb.name %>
        </li>
        <% } else { %>
        <li class="breadcrumb-item">
          <a href="/dashboard/folders/<%= crumb.id %>"><%= crumb.name %></a>
        </li>
        <% } %> <% }) %>
      </ol>
    </nav>

    <h5><%= folder.name %></h5>

    <% if (folder.subfolders.length || folder.files.length) { %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last modified</th>
          <th>File size</th>
        </tr>
      </thead>
      <tbody>
        <% folder.subfolders.forEach(subfolder => { %>
        <tr>
          <td>
            <a href="/dashboard/folders/<%= subfolder.id %>">
              <i class="bi bi-folder me-1"></i><%= subfolder.name %>
            </a>
          </td>
          <td><%= subfolder.formattedUpdatedAt %></td>
          <td>-</td>
        </tr>
        <% }); %> <% folder.files.forEach(file => { %>
        <tr>
          <td>
            <a href="/dashboard/files/<%= file.id %>">
              <i class="bi bi-file-earmark me-1"></i><%= file.name %>
            </a>
          </td>
          <td><%= file.formattedUpdatedAt %></td>
          <td><%= file.formattedSize %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>No contents available.</p>
    <% } %>
  </div>

  <!-- Create folder modal -->
  <div
    class="modal fade"
    id="createFolder"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="createFolderLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createFolderLabel">Create folder</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            action="/dashboard/folders/<%= folder.id %>/create"
            method="post"
          >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
              <div class="form-text">
                <i class="bi bi-info-circle me-1"></i>Folder names already in
                this folder won't be created.
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Create folder</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
